*{
  box-sizing: border-box;
  margin: 0;
}

body{
  height: 100vh;
  background-image: url('../img/sfondo-legno.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 75%;
  margin: auto;
}

header{
  margin-top: 20px;
  font-size: 18px;
  border-bottom: 2px solid white;
}

header img{
  width: 20%;
  border-radius: 15px;
  height: 150px;
  margin-bottom: 10px;
}

h1{
  color: white;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  height: 150px;
  line-height: 150px;
  }

.search{
  margin-top: 10px;
  margin-bottom: 10px;
}

.search input{
  width: 200px;
  height: 25px;
}

.search button{
  width: 50px;
}

.unread{
  color: white;
  font-size: 25px;
  line-height: 50px;
}

.unread span{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
}

.email{
  margin-top: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.email > .messages:first-child{
  border-top: 2px solid black;
  line-height: 26px;
  height: 30px;
}

.messages{
  padding-left: 5px;
  background-color: lightgrey;
  height: 28px;
  line-height: 26px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.messages.different-colour{
  background-color: white;
}

.text{
  color: grey;
}

.credits{
  padding-top: 15px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.credits em{
  font-size: 14px;
}
